# Aliases

alias mosh="perl -E ' print \"\e[?1005h\e[?1002h\" ' && mosh"
alias sshcheck="openssl s_client -connect"
alias x509="openssl x509 -noout -text -in"
alias whatsmyip="wget http://ipecho.net/plain -O - -q ; echo"
alias rgrep="grep -R"
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1])"'
alias urldecode='python -c "import sys, urllib as ul; print ul.unquote_plus(sys.argv[1])"'
alias lsd="ls -l | grep ^d"
alias du_root='for i in /*; do if ! mountpoint -q "$i"; then du -sh $i; fi; done;'
alias decolorize='sed -r "s/\\x1B\\[([0-9]{1,3}(;[0-9]{1,2})?)?[mGK]//g"'

# Homebrew aliases
alias brew-depends-list='brew leaves | xargs brew deps --formula --for-each | sed "s/^.*:/$(tput setaf 4)&$(tput sgr0)/"'
alias brew-dependants='brew deps --tree --installed'
alias brew-depends='brew deps --include-build --tree $(brew leaves)'
alias brew-update-all="brew update; brew upgrade; brew cleanup -s; brew doctor; brew missing; brew cu -a; echo 'Outdated packages to update using mas upgrade:'; mas outdated"

# History aliaes/functions
hgrep () { fc -Dlim "*$@*" 1 }
alias hist="history 1"

# Vault aliases (auros)
vl='vault login -method=oidc'
vle='vault login -method=oidc role=exchanges'

# pls aliases (auros)
alias pop="pls -x 30 -a operational -r 90_superuser-assumed -p operational --"
alias pops="pls -x 30 -a operational -r 99_sensitive_superuser-assumed -p operational --"
alias ple="pls -x 30 -a legacy -r 90_superuser-assumed -p ktx --"
alias ples="pls -x 30 -a legacy -r 99_sensitive_superuser-assumed -p ktx --"
alias popple="pls -x 30 -a operational -r 90_superuser-assumed -p operational -- pls -x 30 -a legacy -r 90_superuser-assumed -p ktx --"
alias plespops="pls --revoke-iam -x 30 -a legacy -r 99_sensitive_superuser-assumed -p ktx -- pls --revoke-iam -x 30 -a operational -r 99_sensitive_superuser-assumed -p operational --"

# Git aliases.
alias gs='git status'
alias gc='git commit'
alias gp='git pull --rebase'
alias gcam='git commit -am'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'

# Docker aliases
alias lzd='lazydocker'

# Kubernetes aliases (in addition to those from oh-my-zsh kubectl plugin)
alias k="kubectl"
alias k8="kubectl"
alias kcc="kubectl config use-context"
alias kgc="kubectl config current-context"
alias kns="kubectl config set-context --current --namespace"
alias ksn="kubectl config set-context --current --namespace"
alias kpf="kubectl port-forward"
alias kc="kubectl config use-context"
alias kg="kubectl config get-contexts"
alias kx='f() { [ "$1" ] && kubectl config use-context $1 || kubectl config current-context ; } ; f'
alias kn='f() { [ "$1" ] && kubectl config set-context --current --namespace $1 || kubectl config view --minify | grep namespace | cut -d" " -f6 ; } ; f'
alias h="helm"
alias s=stern

# Python aliases
alias pip-outdated='pip3 freeze | cut -d = -f 1 | xargs -n 1 pip3 search | grep -B2 "LATEST:"'
alias pip-upgrade-all='pip3 freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs pip3 install -U'

# GPG/Yubikey aliases
alias yubi-reset='gpg-connect-agent "scd serialno" "learn --force" /bye'

# Ansible aliases
function ansiblePlaybookDebug {
    export ANSIBLE_STDOUT_CALLBACK=default
    echo -n "$@" | grep -q -- "-v" && export ANSIBLE_STDOUT_CALLBACK=yaml
    'ansible-playbook' "$@"
}
alias ansible-playbook='ansiblePlaybookDebug'

# Functions
#

function cheat() {
    curl cht.sh/$1
}

# Dump relevant data about a specific pid
proc_debug() {
  lsof -Pnp $1 > /tmp/lsof-$1.out
  strace -fs2048 -p $1 -oi /tm/strage-$1.out
}

# Git upstream branch syncer.
# Usage: gsync master (checks out master, pull upstream, push origin).
function gsync() {
 if [[ ! "$1" ]] ; then
     echo "You must supply a branch."
     return 0
 fi

 BRANCHES=$(git branch --list $1)
 if [ ! "$BRANCHES" ] ; then
    echo "Branch $1 does not exist."
    return 0
 fi

 git checkout "$1" && \
 git pull upstream "$1" && \
 git push origin "$1"
}

# On OS X this will cd to the top-most Finder window
cdfinder() {
  cd "$( /usr/bin/osascript <<"    EOT"
    tell application "Finder"
      try
        set currFolder to (folder of the front window as alias)
      on error
        set currFolder to (path to home folder as alias)
      end try
      POSIX path of currFolder
    end tell
    EOT
    )"
}

# Used as a drop-in replacement for grep that colors matching lines, but prints all lines
function highlight() {
  local args=( "$@" )
  for (( i=0; i<${#args[@]}; i++ )); do
    if [ "${args[$i]:0:1}" != "-" ]; then
      args[$i]="(${args[$i]})|$"
      break
    fi
  done
  grep --color -E "${args[@]}"
}

# greps()
# {
#    grep -nr "${@}" ` find $SRC/amdlib/ $SRC/ui/ $SRC/build/ $SRC/tests/ -name '*.py' ` | sed -e "s%^[^:]*$SRC/%%"
# }
# grepall()
# {
#     grep -nr "${@}" $SRC | grep -v \\.svn | grep '\.py:' | sed -e "s%^[^:]*$SRC/%%"
# }

function localalias() {
  ipaddr=`dig +short $2`
  sudo dscl localhost -create /Local/Defaults/Hosts/$1 IPAddress $ipaddr
  dscacheutil -flushcache
}

function delalias() {
  sudo dscl localhost -delete /Local/Default/Hosts/$1
}

function lsalias() {
  sudo dscl localhost -list /Local/Default/Hosts IPAddress
}

function dnsflush() {
  sudo dscacheutil -flushcache >& /dev/null
  sudo killall -HUP mDNSResponder >& /dev/null
  # dnslauncher is what HandsOff uses to wrap dns lookups...
  sudo killall -HUP dnslauncher >& /dev/null
}

# Enter a running Docker container.
function denter() {
 if [[ ! "$1" ]] ; then
     echo "You must supply a container ID or name."
     return 0
 fi

 docker exec -it $1 bash
 return 0
}

# Delete a given line number in the known_hosts file.
knownrm() {
 re='^[0-9]+$'
 if ! [[ $1 =~ $re ]] ; then
   echo "error: line number missing" >&2;
 else
   sed -i '' "$1d" ~/.ssh/known_hosts
 fi
}

# Provide current python virtualenv to iterm2
iterm2_print_user_vars()
{
    iterm2_set_user_var python_venv $VIRTUAL_ENV
}

# Generate some random bytes (16 for a 128 bit ipsec key, for example)
rand_bytes() {
  dd if=/dev/random count=$1 bs=1 | xxd -ps
}

# DNS-over-HTTPS query function
function doh() {
 if [[ $# -lt 1 ]] ; then
   echo "Usage: doh name <rec_type> <doh_server>"
   return 0
 fi

 NAME=$1
 if [[ $# -gt 1 ]] ; then
   TYPE=$2
 else
   TYPE='A'
 fi
 if [[ $# -gt 2 ]] ; then
   SERVICE=$3
 else
   SERVICE='cloudflare'
 fi

 if [[ $SERVICE == 'google' ]] ; then
   URL="https://dns.google/resolve?name=$NAME&type=$TYPE"
 else
   URL="https://cloudflare-dns.com/dns-query?name=$NAME&type=$TYPE"
 fi

 curl --header 'Accept: application/dns-json' --silent $URL | jq -r 
}
